---
{% if skill.description is defined %}
description: {{ skill.description }}
{% endif %}
{% if skill.allowed_tools is defined %}
allowed-tools: {{ skill.allowed_tools }}
{% endif %}
{% if skill.disable_model_invocation is defined %}
disable-model-invocation: {{ skill.disable_model_invocation | lower }}
{% endif %}
---
{{ skill.content if skill.content is defined else lookup('file', role_path ~ '/files/' ~ skill.content_file) }}
