---
- name: Yazi | Setup Yazi Config Directories | file
  file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop: "{{ yazi_dirs }}"

- name: Yazi | Setup Yazi Sidebar Config Directory | file
  file:
    path: "{{ zellij_config_dir }}/yazi/sidebar"
    state: directory
    mode: "0755"

- name: Yazi | Copies Yazi Config | template
  template:
    src: "yazi/yazi.toml.j2"
    dest: "{{ yazi_config }}/yazi.toml"

- name: Yazi | Copies Yazi Keymap | template
  template:
    src: "yazi/keymap.toml.j2"
    dest: "{{ yazi_config }}/keymap.toml"

- name: Yazi | Copies Yazi Theme | template
  template:
    src: "yazi/theme.toml.j2"
    dest: "{{ yazi_config }}/theme.toml"

- name: Yazi | Copies Yazi Lua Config | template
  template:
    src: "yazi/init.lua.j2"
    dest: "{{ yazi_config }}/init.lua"

- name: Yazi | Download Yazi Themes | get_url
  git:
    repo: "{{ item.value.url }}"
    dest: "{{ yazi_flavors_dir }}/{{  item.value.dest_name }}"
  loop: "{{ yazi_themes | dict2items }}"

- name: Yazi | Download Yazi Plugins | get_url
  git:
    repo: "{{ item.value.url }}"
    dest: "{{ yazi_plugin_dir }}/{{  item.value.dest_name }}"
    update: true
    force: false
  loop: "{{ yazi_plugins | dict2items }}"

- name: Yazi | Copies Yazi Sidebar Lua Config | template
  template:
    src: "yazi/sidebar/init.lua.j2"
    dest: "{{ zellij_config_dir }}/yazi/sidebar/init.lua"

- name: Yazi | Copies Yazi Sidebar Config | template
  template:
    src: "yazi/yazi.toml.j2"
    dest: "{{ zellij_config_dir }}/yazi/sidebar/yazi.toml"

- name: Yazi | Copies Yazi Sidebar Theme | template
  template:
    src: "yazi/theme.toml.j2"
    dest: "{{ zellij_config_dir }}/yazi/sidebar/theme.toml"
