# -----------------------------------------------------------------------------
# Navi Commands: {{ category | upper }}
# -----------------------------------------------------------------------------
% {{ category }}

{% for cmd_name, cmd_info in commands.items() %}
# {{ cmd_info.description }} :: {{ cmd_name }}
{{ cmd_info.cmd }}{% if cmd_info.args %} {{ cmd_info.args | join(' ') }}{% endif %}

{% endfor %}

# -----------------------------------------------------------------------------
# Navi Variables: {{ category | upper }}
# -----------------------------------------------------------------------------
{% for category, commands in navi_cmd_variables.items() %}
{% for variable_name, variable_info in commands.items() %}
# {{ variable_info.description }}
$ {{ variable_name }}: {{ variable_info.cmd }}

{% endfor %}
{% endfor %}
