---
bash_plugins: "{{ dotfiles_user_home }}/.bashrc.d"
bash_fzf_tab: "{{ bash_plugins }}/fzf-tab-completion"
bash_git_fuzzy: "{{ bash_plugins }}/git-fuzzy"
bash_default_options: |
  if [ -f /etc/bashrc ]; then
    . /etc/bashrc
  fi
bash_default_env: |
  {% for path_info in path_directories -%}
  {% if path_directories[path_info]['prepend'] == false %}
  {{ "export PATH=$PATH:" + path_directories[path_info]['path'] }}
  {% else %}
  {{ "export PATH=" + path_directories[path_info]['path'] + ":$PATH" }}
  {% endif %}
  {% endfor %}
  {{ bash_mise_env }}
  {{ bash_devbox_env }}
  {{ bash_homebrew_env }}
  {{ bash_nonroot_env }}
  {% for env_var in env_variables | dict2items -%}
  export {{ env_var.key | upper }}="{{ env_var.value }}"
  {% endfor %}
bash_mise_env: |
  eval "$(mise activate bash)"
bash_devbox_env: ""
bash_homebrew_env: ""
bash_nonroot_env: ""
bash_extra_env: ""
bash_default_plugins: |
  if [ -d {{ bash_plugins }} ]; then
    for rc in {{ bash_plugins }}/*; do
      if [ -f "$rc" ]; then
        . "$rc"
      fi
    done
  fi
  unset rc
bash_plugins_source:
  devbox:
    name: devbox
    script: |
      # Add nix to PATH manually
      export PATH=$PATH:{{ devbox_nix_root_path }}
      # Source Devbox Global
      if  command -v devbox &> /dev/null
      then
        eval "$(devbox global shellenv --init-hook)"
      fi
  homebrew:
    name: homebrew
    script: |
      if [ -d {{ homebrew_path }} ]; then
        eval "$({{ homebrew_path }}/brew shellenv)"
      fi
bash_fzf_path: "export PATH=$PATH:{{ fzf_path }}"
bash_fzf_setup: |
  FZF_CTRL_R_OPTS= eval "$({{ fzf_exe }} --bash)"
  atuin-bind '\C-r' atuin-search
  export PATH="$PATH:{{ bash_git_fuzzy }}/bin"
  {{ bash_fzf_path }}
  fzf_find_edit() {
    local file=$(
      {{ fzf_exe }} --query="$1" --no-multi --select-1 --exit-0 \
          --preview 'bat --color=always --line-range :500 {}'
    )
    if [[ -n "$file" ]]; then
        $EDITOR "$file"
    fi
  }
  fzf_change_directory() {
    local directory=$(
      fd --type d | \
        {{ fzf_exe }} --query="$1" --no-multi --select-1 --exit-0 \
            --preview 'tree -C {} | head -100'
    )
    if [[ -n $directory ]]; then
        cd "$directory"
    fi
  }
  fzf_kill() {
    if [[ $(uname) == Linux ]]; then
        local pids=$(ps -f -u $USER | sed 1d | {{ fzf_exe }} | awk '{print $2}')
    elif [[ $(uname) == Darwin ]]; then
        local pids=$(ps -f -u $USER | sed 1d | {{ fzf_exe }} | awk '{print $3}')
    else
        echo 'Error: unknown platform'
        return
    fi
    if [[ -n "$pids" ]]; then
        echo "$pids" | xargs kill -9 "$@"
    fi
  }
  alias ffe='fzf_find_edit'
  alias fcd='fzf_change_directory'
  alias fkill='fzf_kill'
  {% for fzf_env_var in fzf_env -%}
  {{ "export " + fzf_env[fzf_env_var]['name'] + "='" + fzf_env[fzf_env_var]['env'] + "'" }}
  {% endfor %}
bash_atuin_env: |
  eval "$({{ atuin_exe }} init bash)"
bash_carapace_env: |
  export CARAPACE_BRIDGES='zsh,fish,bash,inshellisense' # optional
  source <({{ carapace_exe }} _carapace)
bash_starship_env: |
  eval "$({{ starship_exe }} init bash)"
bash_zoxide_env: |
  eval "$({{ zoxide_exe }} init bash)"
bash_yazi_setup: |
  yy() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXX")"
    {{ yazi_exe }} "$@" --cwd-file="$tmp"
    if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
            cd -- "$cwd"
    fi
    rm -f -- "$tmp"
  }
  alias yy='yy'
bash_nvim_setup: |
  {% for nvim_profile_name in nvim_xdg_modular_profiles -%}
  {{ "alias vim-" + nvim_xdg_modular_profiles[nvim_profile_name]['name'] + "='NVIM_APPNAME=" + nvim_xdg_modular_profiles[nvim_profile_name]['appname'] + "-modular " + nvim_exe + "'" }}
  {% endfor %}
bash_navi_setup: |
  {% for category, commands in navi_cheats.items() %}
  {% for cmd_name, cmd_info in commands.items() %}
  alias nr-{{ cmd_name }}='{{ navi_exe }} --fzf-overrides "--exact --with-nth 1,2" --query "{{ cmd_name }} ::" --best-match'
  {% endfor %}
  {% endfor %}

  # eval "$({{ navi_exe }} widget bash)"
  _navi_call() {
     local result="$({{ navi_exe }} "$@" </dev/tty)"
     printf "%s" "$result"
  }
  _navi_widget() {
     local -r input="${READLINE_LINE}"
     local -r last_command="$(echo "${input}" | {{ navi_exe }} fn widget::last_command)"

     if [ -z "${last_command}" ]; then
        local -r output="$(_navi_call --print)"
     else
        local -r find="${last_command}_NAVIEND"
        local -r replacement="$(_navi_call --print --query "$last_command")"
        local output="$input"
        if [ -n "$replacement" ]; then
           output="${input}_NAVIEND"
           output="${output//$find/$replacement}"
        fi
     fi

     READLINE_LINE="$output"
     READLINE_POINT=${% raw %}{{% endraw %}#READLINE_LINE}
  }
  _navi_widget_legacy() {
     _navi_call --print
  }
  if [ ${BASH_VERSION:0:1} -lt 4 ]; then
     bind '"\C-a": " \C-b\C-k \C-u`_navi_widget_legacy`\e\C-e\C-a\C-y\C-h\C-e\e \C-y\ey\C-x\C-x\C-f"'
  else
     bind -x '"\C-a": _navi_widget'
  fi
bash_default_aliases: |
  {% for shell_alias in shell_aliases -%}
  alias {{ shell_alias }}='{{ shell_aliases[shell_alias]['sh'] }}'
  {% endfor %}
bash_extra_aliases: |
  {% for shell_alias in extra_shell_aliases | dict2items -%}
  alias {{ shell_alias.key }}='{{ shell_alias.value.sh }}'
  {% endfor %}
bash_zellij_aliases: |
  {% for zellij_layout in zellij_kdl_layouts -%}
  alias z{{ zellij_layout }}='{{ zellij_exe }} --layout {{ zellij_kdl_layouts[zellij_layout]['name'] }}'
  {% endfor %}
bash_ssh_setup: |
  env={{ dotfiles_user_home }}/.ssh/agent.env
  agent_load_env () { test -f "$env" && . "$env" >| /dev/null ; }
  agent_start () {
      (umask 077; ssh-agent >| "$env")
      . "$env" >| /dev/null ; }
  agent_load_env
  # agent_run_state: 0=agent running w/ key; 1=agent w/o key; 2=agent not running
  agent_run_state=$(ssh-add -l >| /dev/null 2>&1; echo $?)
  if [ ! "$SSH_AUTH_SOCK" ] || [ $agent_run_state = 2 ]; then
      agent_start
      ssh-add
  elif [ "$SSH_AUTH_SOCK" ] && [ $agent_run_state = 1 ]; then
      ssh-add
  fi
  unset env
