---
#navi_exe: "{{ tool_system_path }}navi"
xdg_config_dir_navi: "{{ xdg_share_dir }}/navi"
xdg_config_dir_navi_cheats: "{{ xdg_config_dir_navi }}/cheats"
navi_shell_cmd: "eval \"$(navi --print)\""
navi_cheats:
  ssh:
    fix_permissions:
      description: "Fix SSH Permissions"
      cmd: "chmod"
      args:
        - "755"
        - "$HOME"
        - "&&"
        - "chmod"
        - "700"
        - "$HOME/.ssh"
        - "&&"
        - "find"
        - "$HOME/.ssh"
        - "-type f"
        - "-name \"*.pub\""
        - "-exec chmod 644 {} \\;"
        - "&&"
        - "find"
        - "$HOME/.ssh"
        - "-type f"
        - "! -name \"*.pub\""
        - "-exec chmod 600 {} \\;"
        # - "chmod 755 ~/ && chmod 700 ~/.ssh && find ~/.ssh -type f -name \"*.pub\" -exec chmod 644 {} \; && find ~/.ssh -type f ! -name \"*.pub\" -exec chmod 600 {} \;"
  cargo:
    update_binstall:
      description: "Update Cargo Binary Packages"
      cmd: "cargo"
      args:
        - "install-update"
        - "-a"
  fedora:
    dns_reset:
      description: "Force DNS Cache Reset/Refresh"
      cmd: "sudo resolvectl"
      args:
        - "flush-caches"
    save_system:
      description: "OSTree(Silverblue/Bluefin) Save Working Deployment State/images"
      cmd: "sudo ostree"
      args:
        - "admin"
        - "pin"
        - "0"
  neovim:
    health:
      description: "Print CheckHealthLog"
      cmd: "{{ nvim_checkhealth_log_cmd }}"
      args: []
  nix:
    source_profile:
      description: "Source Nix Profile"
      cmd: "source"
      args:
        - "{{ nix_shell_profile }}"
    update:
      description: "Update Installed Nix Packages"
      cmd: "nix-env"
      args:
        - "'*'"
    update_no_systemd:
      description: "Update Nix & Home-Manager Nix Packages(No SystemD)"
      cmd: "nix-channel --update; nix-env -iA nixpkgs.nix nixpkgs.cacert; home-manager switch"
      args: []
    update_wsl:
      description: "Update Nix Itself(WSL)"
      cmd: "nix-channel --update; nix-env -iA nixpkgs.nix nixpkgs.cacert;"
      args: []
    update_nix:
      description: "Update Nix Itself"
      cmd: "nix-channel --update; nix-env -iA nixpkgs.nix nixpkgs.cacert; systemctl daemon-reload; systemctl restart nix-daemon"
      args: []
    list_installed:
      description: "List Installed Nix Packages"
      cmd: "nix-env"
      args:
        - "-f"
        - "'<nixpkgs>'"
        - "-qa"
    build_env:
      description: "Build Nix Environment"
      cmd: "nix-env"
      args:
        - "-i"
        - "{{ nix_buildenv_name }}"
  git:
    checkout_branch:
      description: "Change/Checkout Branch"
      cmd: "git"
      args:
        - "checkout"
        - "<branch>"
    update_submodule:
      description: "Update Submodules"
      cmd: "git"
      args:
        - "submodule"
        - "update"
        - "--recursive"
        - "--remote"
    sync_submodule:
      description: "Sync Submodules"
      cmd: "git"
      args:
        - "submodule"
        - "sync"
        - "--recursive"
    pull_latest:
      description: "Pull Latest"
      cmd: "git"
      args:
        - "pull"
        - "<remote_name>"
        - "<branch_name>"
    fetch_rebase_latest:
      description: "Fetch & Rebase Branch(Update Branch)"
      cmd: "git"
      args:
        - "fetch"
        - "<remote_name>;"
        - "git"
        - "pull"
        - "--rebase"
        - "<remote_name>;"
        - "<branch_name>;"
  docker:
    delete_image:
      description: "Delete Docker Image"
      cmd: "docker"
      args:
        - "rmi"
        - "<image_id>"
  linux:
    list_hardware:
      description: "List Attached Hardware(USB/PCIe/etc.)"
      cmd: "lshw"
      args: []
    list_gpus:
      description: "List Attached Graphics Cards(GPUs)"
      cmd: "lshw"
      args:
        - "-C"
        - "display"
    rsync_ssh:
      description: "RSync to Server(ssh)"
      cmd: "rsync"
      args:
        - "-r"
        - "--info=progress2"
        - "--info=name0"
        - "<project_all>"
        - "<user>@<remote_host>:<destination_path>"
    get_firmware_updates:
      description: "Pull Firmware Updates via fwupd"
      cmd: "fwupdmgr"
      args:
        - "get-updates"
    update_firmware:
      description: "Run Firmware Updates via fwupd"
      cmd: "fwupdmgr"
      args:
        - "upgrade"
  devbox:
    update_global:
      description: "Update All Globally Installed Packages"
      cmd: "devbox"
      args:
        - "global"
        - "update"
  zfs:
    load_all_keys:
      description: "Recursively run `load-key` on dataset and it's children."
      cmd: "zfs"
      args:
        - "load-key"
        - "-a"
    mount_all_datasets:
      description: "Mount all zfs datasets."
      cmd: "zfs"
      args:
        - "mount"
        - "-a"
    set_child_mountpoints:
      description: "Set mountpoints recursively for child datasets."
      cmd: "zfs"
      args:
        - "inherit"
        - "-r"
        - "mountpoint"
        - "<parent_dataset_name>"
  ai:
    code2prompt_run:
      description: "Run Code2Prompt with Selected Template On Selected Files with Selected Model"
      cmd: "script"
      args:
        - "-q"
        - "/dev/null"
        - "-c"
        - "\""
        - "code2prompt"
        - "--template"
        - "<code2prompt_template>"
        - "<project_files>"
        - "2> /dev/null"
        - "\""
        - " <<< "
        - "\"<user_prompt>\""
        - " | "
        - "ollama"
        - "run"
        - "<ollama_models>"
navi_cmd_variables:
  files:
    cwd_files:
      description: "Get $CWD Files"
      cmd: "find . -type f -not -path '*/.*' --- --multi"
    cwd_all:
      description: "Get $CWD All"
      cmd: "find . -type f -or -type d -not -path '*/.*' --- --multi"
  git:
    branch:
      description: "Grep Branch Names of Git Repo"
      cmd: "git branch | awk '{print $NF}'"
  docker:
    image_id:
      description: "Get Docker Image Info"
      cmd: "docker images --- --column 3 --header-lines 1 --delimiter '\\s\\s+'"
  code2prompt:
    code2prompt_template:
      description: "Get Code2Prompt Templates"
      cmd: "readlink -f {{ code2prompt_template_dir }}/*"
    project_files:
      description: "Get Project Files"
      cmd: "echo \"<cwd_files>\" | sed 's/^/--path /' | xargs"
    project_all:
      description: "Get Project Files"
      cmd: "echo \"<cwd_all>\" | xargs"

# # -----------------------------------------------------------------------------
# # Navi Examples
# # -----------------------------------------------------------------------------
# # If you select "hello" for <x>, the possible values of <y> will be "hello foo" and "hello bar"
# echo <x> <y>
# 
# # If you want to ignore the contents of <x> and only print <y>
# : <x>; echo <y>
# 
# $ x: echo "hello hi" | tr ' ' '\n'
# $ y: echo "$x foo;$x bar" | tr ';' '\n'
# 
# # This will output "foo\nyes"
# echo foo
# true \
#    && echo yes \
#    || echo no
# 
# # This will result into: cat "file1.json" "file2.json"
# cat <jsons>
# 
# $ jsons: find . -iname '*.json' -type f -print --- --multi --map "navi fn map::expand"

