---
nvim_legendary_default:
  lazy: |
    {
      'mrjones2014/legendary.nvim',
      version = 'v2.13.6',
      priority = 10000,
      lazy = false,
      dependencies = {
        'kkharji/sqlite.lua',
        'folke/which-key.nvim',
      },
    },
  config: |
    require('which-key').setup({
      triggers = {'<leader>', 'g'},
      triggers_blacklist = {
        n = { '<C-w>', '<C-g>' },
        v = { '<C-w>', '<C-g>' },
      },
    })
  keymaps: |
    { '<CR>', {
        n = ':',
      },
      description = 'Enter Ex Commands',
    },
    { ':', {
        n = ',',
      },
      description = 'Remap Repeat',
    },
nvim_legendary:
  lazy: |
    {
      "folke/which-key.nvim",
      event = "VeryLazy",
      opts = {
        preset = "modern",
      },
    },
    {
      "meznaric/key-analyzer.nvim",
      opts = {},
    },
  config: |
    -- -- Reload Neovim configuration (clean module reload + re-source init.lua)
    -- local function reload_config()
    --   -- Clear all cached Lua modules under your config directory
    --   local config_path = vim.fn.stdpath("config")

    --   for name, _ in pairs(package.loaded) do
    --     if name:match("^user") then
    --       -- Optional: if you namespace your modules under "user.*"
    --       package.loaded[name] = nil
    --     elseif name:find(config_path, 1, true) then
    --       package.loaded[name] = nil
    --     end
    --   end

    --   -- Re-source init.lua
    --   vim.cmd("source $MYVIMRC")

    --   -- Tell lazy.nvim to reload its plugin spec and regenerate its cache
    --   local lazy = require("lazy")
    --   lazy.reload({
    --     plugins = lazy.plugins(),
    --   })

    --   print("Neovim config reloaded.")
    -- end

    -- vim.keymap.set("n", "<leader>l", reload_config, {
    --   desc = "Reload Neovim Config",
    -- })
  keymaps: |
    { '<CR>', ':', mode = { 'n', 'v' }, desc = 'Vim: Enter Ex Commands', },
    { ':', ',', mode = { 'n', 'v' }, desc = 'Vim: Remap Repeat', },
    { '<leader>L', ':Lazy<CR>', mode = 'n', desc = 'Lazy: Launch UI', },
    { '<C-]>', ':noh<CR>', mode = 'n', desc = 'Vim: Clear Search Result', },
nvim_legendary_config: |
  local wk = require("which-key")
  wk.add({
    {{ nvim_legendary['keymaps'] | indent(2) }}
    {% for nvim_lazy_plugin_group in nvim_lazy_plugin_groups -%}
    {{ nvim_lazy_plugin_groups[nvim_lazy_plugin_group]['keymaps'] | indent(2) }}
    {% endfor %}
  })
  {% for extra_nvim_language in extra_nvim_language_keymaps -%}
  {{ extra_nvim_language_keymaps[extra_nvim_language]['mappings'] }}
  {% endfor %}
