---
nvim_toggleterm_shell: "{{ interactive_shell }}"
nvim_toggleterm_keybinding: "<C-s>"
nvim_superfile_keybinding: "<leader>z"
nvim_terminal:
  lazy: |
    { 'akinsho/toggleterm.nvim',
      dependencies = {
        'is0n/fm-nvim',
      },
      config = function()
        require('toggleterm').setup({
          size = function(term)
            if term.direction == 'horizontal' then
              return 25
            elseif term.direction == 'vertical' then
              return vim.o.columns * 0.4
            end
          end,
          open_mapping = [[{{ nvim_toggleterm_keybinding }}]],
          direction = 'float',
          close_on_exit = false,
          shell = "{{ nvim_toggleterm_shell }}",
          float_opts = {
            border = 'double',
            width = function()
              return math.floor(vim.o.columns * 0.8)
            end,
            height = function()
              return math.floor(vim.o.lines * 0.8)
            end,
            winblend = 1,
          }
        })
        local Terminal  = require('toggleterm.terminal').Terminal
        local justchoose = Terminal:new({
          cmd = '{{ just_exe }} --choose',
          shell = '{{ command_shell }}',
          hidden = true,
          start_in_insert = true,
        })
        function just_terminal_runner()
          justchoose:toggle()
        end
        local navi_run = Terminal:new({
          cmd = '{{ navi_exe }} ',
          shell = '{{ command_shell }}',
          hidden = true,
          start_in_insert = true,
        })
        function navi_terminal_runner()
          navi_run:toggle()
        end
      end,
    },
    {
      "mikavilpas/yazi.nvim",
      event = "VeryLazy",
      opts = {
        open_for_directories = true,
        floating_window_scaling_factor = 0.8,
        keymaps = {
          show_help = '<f1>',
          open_file_in_horizontal_split = '<c-s>',
          grep_in_directory = '<c-x>',
        },
      },
    },
    {
      "willothy/flatten.nvim",
      config = true,
      lazy = false,
      priority = 1001,
    },
    {
      "anaypurohit0907/superfile.nvim",
      main = "superfile",
      opts = { key = false },
      keys = {
        {
          "{{ nvim_superfile_keybinding }}",
          function() require("superfile").open() end,
          mode = { "n", "t" },
          desc = "Open/Focus Superfile",
          silent = true,
        },
      },
    },
  config: ""
  keymaps: |
    {
      mode = 'n',
      icon = 'îž•',
      { '<leader>j', '<cmd>lua just_terminal_runner()<CR>', desc = 'ToggleTerm: Justfile Chooser', },
      { '<leader>n', '<cmd>lua navi_terminal_runner()<CR>', desc = 'ToggleTerm: Navi Runner', },
      -- { '<leader>x', '<cmd>lua require("tfm").open()<CR>', desc = 'FM-Nvim: Yazi(Current File)', },
      -- { '<leader>X', '<cmd>lua require("tfm").open(vim.fn.getcwd())<CR>', desc = 'FM-Nvim: Yazi(Project Root)', },
      { '<leader>x', '<cmd>Yazi<CR>', desc = 'Yazi-Nvim: Yazi(Current File)', },
      { '<leader>X', '<cmd>Yazi cwd<CR>', desc = 'Yazi-Nvim: Yazi(Project Root)', },
      { '<leader>z', '<cmd>lua require("superfile").open()<CR>', desc = 'Superfile-Nvim: Launch', },
    },
