---
ai_adapter_avante: "claude"
ai_adapter_chat: "qwen25_coder"
ai_adapter_inline: "{{ ai_adapter_chat }}"
ai_adapter_cmd: "{{ ai_adapter_chat }}"
chatgpt_ai_adapter_chat: "openai"
chatgpt_ai_adapter_inline: "{{ chatgpt_ai_adapter_chat }}"
chatgpt_ai_adapter_cmd: "{{ chatgpt_ai_adapter_chat }}"
anthropic_api_key: "{{ lookup('env', 'ANTHROPIC_API_KEY') }}"
openai_api_key: "{{ lookup('env', 'OPENAI_API_KEY') }}"
ctx_sizes:
  2k: 2048
  4k: 4096
  8k: 8196
  16k: 16384
  32k: 32768
  64k: 65536
  128k: 131072
  256k: 262144
default_distilled_param_count:
  7b: "7b"
  8b: "8b"
  14b: "14b"
  32b: "32b"
  70b: "70"
distilled_param_count: "{{ default_distilled_param_count['7b'] }}"
distilled_ctx_size: "{{ ctx_sizes['4k'] }}"
user_llama_model_info:
  llama3_model_info:
    name: "llama3"
    model_name: "llama3"
    model_tag: "latest"
    model_ctx: "{{ distilled_ctx_size }}"
  deepseek_r1_model_info:
    name: "deepseek_r1"
    model_name: "deepseek-r1"
    model_tag: "{{ distilled_param_count }}"
    model_ctx: "{{ distilled_ctx_size }}"
  qwen25_coder_model_info:
    name: "qwen25_coder"
    model_name: "qwen2.5-coder"
    model_tag: "{{ distilled_param_count }}"
    model_ctx: "{{ distilled_ctx_size }}"
ai_adapter_companion: "codex"
ai_codecompanion_codex_auth_method: "openai-api-key"
nvim_ai_codecompanion:
  lazy: |
    {
      "olimorris/codecompanion.nvim",
      event = "VeryLazy",
      dependencies = {
        "nvim-lua/plenary.nvim",
      },
      opts = {
        adapters = {
          acp = {
            codex = function()
              return require("codecompanion.adapters").extend("codex", {
                defaults = {
                  auth_method = "{{ ai_codecompanion_codex_auth_method }}",
                },
                env = {
                  OPENAI_API_KEY = "{{ openai_api_key }}",
                },
              })
            end,
            claude_code = function()
              return require("codecompanion.adapters").extend("claude_code", {
                env = {
                  ANTHROPIC_API_KEY = "{{ anthropic_api_key }}",
                },
              })
            end,
          },
        },
        interactions = {
          chat = {
            adapter = "{{ ai_adapter_companion }}",
          },
        },
      },
    },
    {
      "MeanderingProgrammer/render-markdown.nvim",
      ft = { "markdown", "codecompanion" }
    },
  config: ""
  keymaps: |
    {
      mode = {'n', 't'},
      icon = '',
      { '<C-a>', '<cmd>CodeCompanionChat Toggle<CR>', desc = 'CodeCompanion: Toggle Chat', },
    },
nvim_ai_avante:
  lazy: |
    {
      "yetone/avante.nvim",
      event = "VeryLazy",
      lazy = false,
      version = false, -- set this if you want to always pull the latest change
      opts = {
        provider = "{{ ai_adapter_avante }}",
      },
      -- if you want to build from source then do `make BUILD_FROM_SOURCE=true`
      build = "make",
      -- build = "powershell -ExecutionPolicy Bypass -File Build.ps1 -BuildFromSource false" -- for windows
      dependencies = {
        "stevearc/dressing.nvim",
        "nvim-lua/plenary.nvim",
        "MunifTanjim/nui.nvim",
        --- The below dependencies are optional,
        "hrsh7th/nvim-cmp", -- autocompletion for avante commands and mentions
        "nvim-tree/nvim-web-devicons", -- or echasnovski/mini.icons
        "zbirenbaum/copilot.lua", -- for providers='copilot'
        {
          -- Make sure to set this up properly if you have lazy=true
          'MeanderingProgrammer/render-markdown.nvim',
          opts = {
            file_types = { "markdown", "Avante" },
          },
          ft = { "markdown", "Avante" },
        },
      },
    },
  config: ""
  keymaps: |
    { '<leader>C', { n = '<cmd>AvanteToggle<CR>', }, description = 'Avante: Toggle Chat', },
nvim_ai_opencode:
  lazy: |
    {
      "NickvanDyke/opencode.nvim",
      dependencies = {
        -- Recommended for `ask()` and `select()`.
        -- Required for `toggle()`.
        { "folke/snacks.nvim", opts = { input = {}, picker = {} } },
      },
      config = function()
        vim.g.opencode_opts = {
          provider = {
            snacks = {
              win = {
                position = "float",
                enter = true,
              },
            },
          },
        }

        -- Required for `vim.g.opencode_opts.auto_reload`
        vim.opt.autoread = true

        -- Recommended/example keymaps
        vim.keymap.set({ "n", "x" }, "<leader>Ca", function() require("opencode").ask("@this: ", { submit = true }) end, { desc = "Ask about this" })
        vim.keymap.set({ "n", "x" }, "<leader>Cs", function() require("opencode").select() end, { desc = "Select prompt" })
        vim.keymap.set({ "n", "x" }, "<leader>C+", function() require("opencode").prompt("@this") end, { desc = "Add this" })
        vim.keymap.set("n", "<leader>Cc", function() require("opencode").command() end, { desc = "Select command" })
        vim.keymap.set("n", "<leader>Cn", function() require("opencode").command("session.new") end, { desc = "New session" })
        vim.keymap.set("n", "<leader>Ci", function() require("opencode").command("session.interrupt") end, { desc = "Interrupt session" })
        vim.keymap.set("n", "<leader>CA", function() require("opencode").command("agent.cycle") end, { desc = "Cycle selected agent" })
        vim.keymap.set("t", "<C-u>",    function() require("opencode").command("session.half.page.up") end, { desc = "Messages half page up" })
        vim.keymap.set("t", "<C-d>",    function() require("opencode").command("session.half.page.down") end, { desc = "Messages half page down" })
        vim.keymap.set({ "n", "t" }, "<C-a>", function() require("opencode").toggle() end, { desc = "Toggle Floating Opencode" })
        -- vim.api.nvim_create_user_command("OpenCodePlan", function()
        --   local oc = require("opencode")
        --   oc.toggle()                       -- launch/attach to opencode UI
        --   oc.command("agent.select plan")  -- switch to Plan agent
        -- end, { desc = "OpenCode: Plan agent" })
        -- vim.keymap.set({ "n", "t" }, "<C-a>", "<cmd>OpenCodePlan<CR>", { desc = "OpenCode Plan Agent" })
        local Terminal  = require('toggleterm.terminal').Terminal
        local sidecar = Terminal:new({
          cmd = '{{ sidecar_exe }}',
          shell = '{{ command_shell }}',
          hidden = true,
          start_in_insert = true,
        })
        function sidecar_terminal_runner()
          sidecar:toggle()
        end
      end,
    },
  config: ""
  keymaps: |
    {
      mode = {'n', 't'},
      icon = '',
      { '<C-/>', '<cmd>lua sidecar_terminal_runner()<CR>', desc = 'ToggleTerm: Sidecar', },
    },
