---
cd_project_nvim_dir_database_filename: "cd-project.nvim.json"
nvim_project_default:
  lazy: |
    -- using lazy.nvim
    {
      "LintaoAmons/cd-project.nvim",
      -- Don't need call the setup function if you think you are good with the default configuration
      config = function()
        require("cd-project").setup({
          -- this json file is acting like a database to update and read the projects in real time.
          -- So because it's just a json file, you can edit directly to add more paths you want manually
          projects_config_filepath = vim.fs.normalize(vim.fn.stdpath("config") .. "/cd-project.nvim.json"),
          -- this controls the behaviour of `CdProjectAdd` command about how to get the project directory
          project_dir_pattern = { ".git", ".gitignore", "Cargo.toml", "package.json", "go.mod" },
          -- do whatever you like by hooks
          hooks = {
            {
              callback = function(dir)
                vim.notify("switched to dir: " .. dir)
              end,
            },
            {
              callback = function(dir)
                vim.notify("switched to dir: " .. dir)
              end, -- required, action when trigger the hook
              name = "cd hint", -- optional
              order = 1, -- optional, the exection order if there're multiple hooks to be trigger at one point
              pattern = "cd-project.nvim", -- optional, trigger hook if contains pattern
              trigger_point = "DISABLE", -- optional, enum of trigger_points, default to `AFTER_CD`
              match_rule = function(dir) -- optional, a function return bool. if have this fields, then pattern will be ignored
                return true
              end,
            },
          },
          projects_picker = "telescope", -- optional, you can switch to `telescope`
        })
      end,
    },
  config: ""
  keymaps: |
    { '<leader>fp', { n = '<cmd>CdProject<CR>', }, description = 'Cd-Project: Cd into Project', },
nvim_project:
  lazy: |
    {
      "LintaoAmons/cd-project.nvim",
      config = function()
        require("cd-project").setup({
          -- this json file is acting like a database to update and read the projects in real time.
          -- So because it's just a json file, you can edit directly to add more paths you want manually
          projects_config_filepath = vim.fs.normalize(vim.fn.stdpath("config") .. "/cd-project.nvim.json"),
          -- this controls the behaviour of `CdProjectAdd` command about how to get the project directory
          project_dir_pattern = { ".git", ".gitignore", "Cargo.toml", "package.json", "go.mod" },
          -- do whatever you like by hooks
          hooks = {
            {
              callback = function(dir)
                vim.notify("switched to dir: " .. dir)
              end,
            },
            {
              callback = function(dir)
                vim.notify("switched to dir: " .. dir)
              end, -- required, action when trigger the hook
              name = "cd hint", -- optional
              order = 1, -- optional, the exection order if there're multiple hooks to be trigger at one point
              pattern = "cd-project.nvim", -- optional, trigger hook if contains pattern
              trigger_point = "DISABLE", -- optional, enum of trigger_points, default to `AFTER_CD`
              match_rule = function(dir) -- optional, a function return bool. if have this fields, then pattern will be ignored
                return true
              end,
            },
          },
          projects_picker = "vim-ui", -- optional, you can switch to `telescope`
        })
      end,
    },
    {
      "MagicDuck/grug-far.nvim",
      config = function()
        require('grug-far').setup({})
      end,
    },
  config: |
    local has_snacks, Snacks = pcall(require, "snacks")
    if has_snacks then
      local scooter_term = nil

      -- Called by scooter to open the selected file at line from scooter search list
      _G.EditLineFromScooter = function(file_path, line)
        if scooter_term and scooter_term:buf_valid() then
          scooter_term:hide()
        end

        local current_path = vim.fn.expand("%:p")
        local target_path = vim.fn.fnamemodify(file_path, ":p")

        if current_path ~= target_path then
          vim.cmd.edit(vim.fn.fnameescape(file_path))
        end

        vim.api.nvim_win_set_cursor(0, { line, 0 })
      end

      local function is_terminal_running(term)
        if not term or not term:buf_valid() then
          return false
        end
        local channel = vim.fn.getbufvar(term.buf, "terminal_job_id")
        return channel and vim.fn.jobwait({ channel }, 0)[1] == -1
      end

      local function open_scooter()
        if vim.fn.executable("scooter") ~= 1 then
          vim.notify("scooter is not installed or not in PATH", vim.log.levels.WARN)
          return
        end

        if is_terminal_running(scooter_term) then
          scooter_term:toggle()
        else
          scooter_term = Snacks.terminal.open("scooter", {
            win = { position = "float" },
          })
        end
      end

      local function open_scooter_with_text(search_text)
        if vim.fn.executable("scooter") ~= 1 then
          vim.notify("scooter is not installed or not in PATH", vim.log.levels.WARN)
          return
        end

        if scooter_term and scooter_term:buf_valid() then
          scooter_term:close()
        end

        local escaped_text = vim.fn.shellescape(search_text:gsub("\r?\n", " "))
        scooter_term = Snacks.terminal.open("scooter --fixed-strings --search-text " .. escaped_text, {
          win = { position = "float" },
        })
      end

      vim.keymap.set("n", "<leader>fs", open_scooter, { desc = "Scooter: Search/Replace" })
      vim.keymap.set("v", "<leader>fR", function()
        local selection = vim.fn.getreg('"')
        vim.cmd('normal! "ay')
        open_scooter_with_text(vim.fn.getreg("a"))
        vim.fn.setreg('"', selection)
      end, { desc = "Scooter: Search Selection" })
    end
  keymaps: |
    {
      mode = 'n',
      { '<leader>fp', '<cmd>CdProject<CR>', desc = 'Cd-Project: Cd into Project', },
      -- { '_', '<cmd>lua require("grug-far").open({ prefills = { search = vim.fn.expand("<cword>") } })<CR>', desc = 'Grug-Far: Project Search String(Cursor Word)', },
      { '<leader>R', '<cmd>lua require("grug-far").open({ transient = true })<CR>', desc = 'Grug-Far: Project Search/Replace', },
    },
