nvim_neorg_dir: "{{ dotfiles_user_home }}/OrgNotes"
nvim_neorg_default:
  lazy: |
    {
      "nvim-neorg/neorg",
      build = ":Neorg sync-parsers",
      dependencies = { "nvim-lua/plenary.nvim" },
      ft = 'norg',
      config = function()
        require('neorg').setup({
            load = {
                ["core.defaults"] = {}, -- Loads default behaviour
                ["core.concealer"] = {}, -- Adds pretty icons to your documents
                ["core.keybinds"] = {
                    config = {
                        default_keybinds = true,
                        neorg_leader = ",",
                        hook = function(keybinds)
                          keybinds.unmap("norg", "n", "<CR>")
                          keybinds.unmap("norg", "n", "<M-CR>")
                        end,
                    },
                },
                ["core.dirman"] = { -- Manages Neorg workspaces
                    config = {
                        workspaces = {
                            notes = "{{ nvim_neorg_dir }}"
                        },
                        default_workspace = notes,
                        autochdir = true, -- Automatically change the directory to the current workspace's root every time
                        index = "index.norg", -- The name of the main (root) .norg file
                    },
                },
            },
        })

        vim.wo.foldlevel = 99
        vim.wo.conceallevel = 2
        vim.cmd([[ setlocal spell spelllang=en_us ]])
      end,
    },
nvim_neorg:
  lazy: |
    {
      "vhyrro/luarocks.nvim",
      priority = 1000,
      config = true,
    },
    {
      "nvim-neorg/neorg",
      dependencies = { "luarocks.nvim" },
      lazy = false, -- Disable lazy loading as some `lazy.nvim` distributions set `lazy = true` by default
      version = "*", -- Pin Neorg to the latest stable release
      config = function()
        require("neorg").setup({
          load = {
            ["core.defaults"] = {}, -- Loads default behaviour
            ["core.concealer"] = {}, -- Adds pretty icons to your documents
            ["core.keybinds"] = {
              config = {
                default_keybinds = true,
                neorg_leader = ",",
                hook = function(keybinds)
                  keybinds.unmap("norg", "n", "<CR>")
                  keybinds.unmap("norg", "n", "<M-CR>")
                end,
              },
            },
            ["core.dirman"] = { -- Manages Neorg workspaces
              config = {
                workspaces = {
                  notes = "{{ nvim_neorg_dir }}"
                },
                default_workspace = notes,
                autochdir = true, -- Automatically change the directory to the current workspace's root every time
                index = "index.norg", -- The name of the main (root) .norg file
              },
            },
          },
        })
        vim.wo.foldlevel = 99
        vim.wo.conceallevel = 2
        vim.cmd([[ setlocal spell spelllang=en_us ]])

        -- Toggle a floating Neorg note for the current directory using snacks.nvim
        local neorg_win ---@type snacks.win|nil

        local function toggle_neorg_note()
          local Snacks = require("snacks")

          -- Path to the note in the current working directory
          local cwd = vim.fn.getcwd()
          local filename = cwd .. "/neorg.norg" -- or "/neorg" if you prefer

          -- Create the file if it doesn't exist
          if vim.fn.filereadable(filename) == 0 then
            vim.fn.writefile({}, filename)
          end

          -- If we don't have a window yet, or it was closed, or cwd changed, create a new one
          if not neorg_win or not neorg_win:valid() or neorg_win.opts.file ~= filename then
            -- prevent modeline parsing on first load (e.g., lines with @gateway.yml)
            local prev_modeline = vim.o.modeline
            local prev_modelines = vim.o.modelines
            vim.o.modeline = false
            vim.o.modelines = 0

            neorg_win = Snacks.win({
              file = filename,
              style = "float",
              width = 0.8,
              height = 0.8,
              enter = true,          -- jump into the window
              minimal = true,
              bo = {                 -- buffer options: make sure we can edit
                modifiable = true,
                readonly = false,
                modeline = false,
              },
              keys = {
                q = "close",
                ["<Esc>"] = "close",
              },
              on_buf = function(self)
                -- extra safety: enforce modifiable whenever the buffer is (re)created
                vim.bo[self.buf].modifiable = true
                vim.bo[self.buf].readonly = false
                vim.bo[self.buf].modeline = false
              end,
              on_win = function(self)
                -- start insert mode whenever the window is shown
                vim.schedule(function()
                  if self:valid() then
                    vim.cmd("startinsert")
                  end
                end)
              end,
            })

            -- restore global modeline settings after creating the window
            vim.o.modeline = prev_modeline
            vim.o.modelines = prev_modelines

            return
          end

          -- Toggle the existing window
          neorg_win:toggle()
        end

        vim.keymap.set("n", "<C-n>", toggle_neorg_note, {
          desc = "Toggle Neorg Note(Floating, CWD)",
        })
      end,
    },
  config: ""
  keymaps: ""
nvim_neorg_legacy:
  lazy: |
    {
      "vhyrro/luarocks.nvim",
      priority = 1000,
      config = true,
    },
    {
      "nvim-neorg/neorg",
      lazy = false,
      version = "v7.0.0",
      dependencies = { "nvim-lua/plenary.nvim" },
      ft = 'norg',
      config = function()
        require('neorg').setup({
            load = {
                ["core.defaults"] = {}, -- Loads default behaviour
                ["core.concealer"] = {}, -- Adds pretty icons to your documents
                ["core.keybinds"] = {
                    config = {
                        default_keybinds = true,
                        neorg_leader = ",",
                        hook = function(keybinds)
                          keybinds.unmap("norg", "n", "<CR>")
                          keybinds.unmap("norg", "n", "<M-CR>")
                        end,
                    },
                },
                ["core.dirman"] = { -- Manages Neorg workspaces
                    config = {
                        workspaces = {
                            notes = "{{ nvim_neorg_dir }}"
                        },
                        default_workspace = notes,
                        autochdir = true, -- Automatically change the directory to the current workspace's root every time
                        index = "index.norg", -- The name of the main (root) .norg file
                    },
                },
            },
        })

        vim.wo.foldlevel = 99
        vim.wo.conceallevel = 2
        vim.cmd([[ setlocal spell spelllang=en_us ]])
      end,
    },
  config: ""
  keymaps: ""
