---
ai_adapter_avante: "claude"
ai_adapter_chat: "qwen25_coder"
ai_adapter_inline: "{{ ai_adapter_chat }}"
ai_adapter_cmd: "{{ ai_adapter_chat }}"
chatgpt_ai_adapter_chat: "openai"
chatgpt_ai_adapter_inline: "{{ chatgpt_ai_adapter_chat }}"
chatgpt_ai_adapter_cmd: "{{ chatgpt_ai_adapter_chat }}"
anthropic_api_key: "{{ lookup('env', 'ANTHROPIC_API_KEY') }}"
openai_api_key: "{{ lookup('env', 'OPENAI_API_KEY') }}"
ctx_sizes:
  2k: 2048
  4k: 4096
  8k: 8196
  16k: 16384
  32k: 32768
  64k: 65536
  128k: 131072
  256k: 262144
default_distilled_param_count:
  7b: "7b"
  8b: "8b"
  14b: "14b"
  32b: "32b"
  70b: "70"
distilled_param_count: "{{ default_distilled_param_count['7b'] }}"
distilled_ctx_size: "{{ ctx_sizes['4k'] }}"
user_llama_model_info:
  llama3_model_info:
    name: "llama3"
    model_name: "llama3"
    model_tag: "latest"
    model_ctx: "{{ distilled_ctx_size }}"
  deepseek_r1_model_info:
    name: "deepseek_r1"
    model_name: "deepseek-r1"
    model_tag: "{{ distilled_param_count }}"
    model_ctx: "{{ distilled_ctx_size }}"
  qwen25_coder_model_info:
    name: "qwen25_coder"
    model_name: "qwen2.5-coder"
    model_tag: "{{ distilled_param_count }}"
    model_ctx: "{{ distilled_ctx_size }}"
openai_model: "gpt-5-mini"
openai_ctx_size: "{{ ctx_sizes['256k'] }}"
ollama_port: "11434"
ollama_address: "http://localhost:{{ ollama_port }}"
nvim_codecompanion_adapter_config_ollama: |
        ollama = function()
          return require("codecompanion.adapters").extend("ollama", {
            env = {
              url = "{{ ollama_address }}",
            },
          })
        end,
nvim_codecompanion_adapter_config_openai: |
        openai = function()
          return require("codecompanion.adapters").extend("openai", {
            env = {
              api_key = "{{ openai_api_key }}"
            },
            schema = {
              model = {
                default = "{{ openai_model }}",
              },
              num_ctx = {
                default = {{ openai_ctx_size }},
              },
            },
          })
        end,
nvim_codecompanion_adapter_config_user: |
        {%- for model_name in user_llama_model_info -%}
        {% set llama_model_info = user_llama_model_info[model_name] %}
        {{ llama_model_info['name'] |indent (2) }} = function()
          return require("codecompanion.adapters").extend("ollama", {
            name = "{{ llama_model_info['name'] }}",
            schema = {
              model = {
                default = "{{ llama_model_info['model_name'] }}:{{ llama_model_info['model_tag'] }}",
              },
              num_ctx = {
                default = {{ llama_model_info['model_ctx'] }},
              },
              num_predict = {
                default = -1,
              },
            },
          })
        end,
        {% endfor %}
nvim_codecompanion_display_config: |
      display = {
        chat = {
          -- Options to customize the UI of the chat buffer
          window = {
            layout = "float", -- float|vertical|horizontal|buffer
          },
        },
      },
nvim_codecompanion_adapter_config: |
      adapters = {
        http = {
          {{ nvim_codecompanion_adapter_config_ollama | indent(2) }}
          {{ nvim_codecompanion_adapter_config_openai | indent(2) }}
          {{ nvim_codecompanion_adapter_config_user | indent(2) }}
        },
      },
nvim_codecompanion_prompt_library_docusaurus: |
        ["Docusaurus"] = {
          strategy = "chat",
          description = "Write documentation for me",
          opts = {
            index = 11,
            is_slash_cmd = false,
            auto_submit = false,
            short_name = "docs",
          },
          references = {
            {
              type = "file",
              path = {
                "doc/.vitepress/config.mjs",
                "lua/codecompanion/config.lua",
                "README.md",
              },
            },
          },
          prompts = {
            {
              role = "user",
              content = [[I'm rewriting the documentation for my plugin CodeCompanion.nvim, as I'm moving to a vitepress website. Can you help me rewrite it?

              I'm sharing my vitepress config file so you have the context of how the documentation website is structured in the `sidebar` section of that file.

              I'm also sharing my `config.lua` file which I'm mapping to the `configuration` section of the sidebar.
              ]],
            },
          },
        },
nvim_codecompanion_prompt_library: |
      prompt_library = {
        {{ nvim_codecompanion_prompt_library_docusaurus }}
      },
nvim_codecompanion_chat_select_ui: |
          slash_commands = {
            ["file"] = {
              opts = {
                provider = "fzf_lua", -- Other options include 'default', 'mini_pick', 'fzf_lua', snacks
                contains_code = true,
              },
            },
            ["buffer"] = {
              opts = {
                provider = "fzf_lua", -- Other options include 'default', 'mini_pick', 'fzf_lua', snacks
                contains_code = true,
              },
            },
          },
nvim_ai_companion:
  lazy: |
    {
      "olimorris/codecompanion.nvim",
      dependencies = {
        "nvim-lua/plenary.nvim",
        "nvim-treesitter/nvim-treesitter",
      },
      config = true
    },
  config: |
    require("codecompanion").setup({
      strategies = {
        chat = {
          adapter = "{{ ai_adapter_chat }}",
          {{ nvim_codecompanion_chat_select_ui | indent(6) }}
        },
        inline = {
          adapter = "{{ ai_adapter_inline }}",
        },
        cmd = {
          adapter = "{{ ai_adapter_cmd }}",
        },
      },
      {{ nvim_codecompanion_display_config | indent(2) }}
      {{ nvim_codecompanion_adapter_config | indent(2) }}
      {{ nvim_codecompanion_prompt_library | indent(2) }}
    })
    -- Expand 'cc' into 'CodeCompanion' in the command line
    -- vim.cmd([[cab cc CodeCompanion]])
  keymaps: |
    {
      mode = 'n',
      { '<leader>Ct', '<cmd>CodeCompanionChat Toggle<CR>', desc = 'CodeCompanion: Toggle Chat Window', },
      { '<leader>Ca', '<cmd>CodeCompanionActions<CR>', desc = 'CodeCompanion: Actions', },
      { '<leader>Ce', '<cmd>lua require("codecompanion").prompt("explain")<CR>', desc = 'CodeCompanion: Explain', },
    },
nvim_ai_companion_chatgpt:
  lazy: "{{ nvim_ai_companion['lazy'] }}"
  config: |
    require("codecompanion").setup({
      strategies = {
        chat = {
          adapter = "{{ chatgpt_ai_adapter_chat }}",
          {{ nvim_codecompanion_chat_select_ui | indent(6) }}
        },
        inline = {
          adapter = "{{ chatgpt_ai_adapter_inline }}",
        },
        cmd = {
          adapter = "{{ chatgpt_ai_adapter_cmd }}",
        },
      },
      {{ nvim_codecompanion_display_config | indent(2) }}
      {{ nvim_codecompanion_adapter_config | indent(2) }}
      {{ nvim_codecompanion_prompt_library | indent(2) }}
    })
    -- Expand 'cc' into 'CodeCompanion' in the command line
    -- vim.cmd([[cab cc CodeCompanion]])
  keymaps: "{{ nvim_ai_companion['keymaps'] }}"
nvim_ai_avante:
  lazy: |
    {
      "yetone/avante.nvim",
      event = "VeryLazy",
      lazy = false,
      version = false, -- set this if you want to always pull the latest change
      opts = {
        provider = "{{ ai_adapter_avante }}",
      },
      -- if you want to build from source then do `make BUILD_FROM_SOURCE=true`
      build = "make",
      -- build = "powershell -ExecutionPolicy Bypass -File Build.ps1 -BuildFromSource false" -- for windows
      dependencies = {
        "stevearc/dressing.nvim",
        "nvim-lua/plenary.nvim",
        "MunifTanjim/nui.nvim",
        --- The below dependencies are optional,
        "hrsh7th/nvim-cmp", -- autocompletion for avante commands and mentions
        "nvim-tree/nvim-web-devicons", -- or echasnovski/mini.icons
        "zbirenbaum/copilot.lua", -- for providers='copilot'
        {
          -- Make sure to set this up properly if you have lazy=true
          'MeanderingProgrammer/render-markdown.nvim',
          opts = {
            file_types = { "markdown", "Avante" },
          },
          ft = { "markdown", "Avante" },
        },
      },
    },
  config: ""
  keymaps: |
    { '<leader>C', { n = '<cmd>AvanteToggle<CR>', }, description = 'Avante: Toggle Chat', },
nvim_ai_opencode:
  lazy: |
    {
      "NickvanDyke/opencode.nvim",
      dependencies = {
        -- Recommended for `ask()` and `select()`.
        -- Required for `toggle()`.
        { "folke/snacks.nvim", opts = { input = {}, picker = {} } },
      },
      config = function()
        vim.g.opencode_opts = {
          provider = {
            snacks = {
              win = {
                position = "float",
                enter = true,
              },
            },
          },
        }

        -- Required for `vim.g.opencode_opts.auto_reload`
        vim.opt.autoread = true

        -- Recommended/example keymaps
        vim.keymap.set({ "n", "x" }, "<leader>Ca", function() require("opencode").ask("@this: ", { submit = true }) end, { desc = "Ask about this" })
        vim.keymap.set({ "n", "x" }, "<leader>Cs", function() require("opencode").select() end, { desc = "Select prompt" })
        vim.keymap.set({ "n", "x" }, "<leader>C+", function() require("opencode").prompt("@this") end, { desc = "Add this" })
        vim.keymap.set({ "n", "t" }, "<C-t>", function() require("opencode").toggle() end, { desc = "Toggle embedded" })
        vim.keymap.set("n", "<leader>Cc", function() require("opencode").command() end, { desc = "Select command" })
        vim.keymap.set("n", "<leader>Cn", function() require("opencode").command("session.new") end, { desc = "New session" })
        vim.keymap.set("n", "<leader>Ci", function() require("opencode").command("session.interrupt") end, { desc = "Interrupt session" })
        vim.keymap.set("n", "<leader>CA", function() require("opencode").command("agent.cycle") end, { desc = "Cycle selected agent" })
        vim.keymap.set("t", "<C-u>",    function() require("opencode").command("session.half.page.up") end, { desc = "Messages half page up" })
        vim.keymap.set("t", "<C-d>",    function() require("opencode").command("session.half.page.down") end, { desc = "Messages half page down" })
      end,
    },
  config: ""
  keymaps: ""
