---
- name: Homebrew | Resolve bundle paths | set_fact
  ansible.builtin.set_fact:
    homebrew_bundle_bin_dir_resolved: "{{ homebrew_bundle_bin_dir | default(homebrew_bundle_bin_dir_default) }}"
    homebrew_brew_bin_resolved: "{{ homebrew_brew_bin | default(homebrew_brew_bin_default | default((homebrew_bundle_bin_dir | default(homebrew_bundle_bin_dir_default)) ~ '/brew')) }}"
    homebrew_bundle_env_path_resolved: "{{ homebrew_bundle_env_path | default((homebrew_bundle_bin_dir | default(homebrew_bundle_bin_dir_default)) ~ ':' ~ ansible_env.PATH) }}"
  tags:
    - always

- name: Homebrew | Install Homebrew | import_tasks
  ansible.builtin.import_tasks: install_homebrew.yml
  tags:
    - install

- name: Homebrew | Configure Homebrew | import_tasks
  ansible.builtin.import_tasks: configure_homebrew.yml
  tags:
    - config
