---
- name: Shell | Setup | task
  import_tasks: tasks/setup_tools.yml

- name: Install Just App
  import_tasks: tasks/install_just.yml

- name: Shell | Install FZF | task
  import_tasks: tasks/install_fzf.yml

- name: Install Neovim
  import_tasks: tasks/install_neovim_app.yml

- name: Install Helix App
  import_tasks: tasks/install_helix_app.yml

# # Disabling, since cannot be run as non-root
# # https://github.com/direnv/direnv/issues/1316
# - name: Install Direnv App
#   import_tasks: tasks/install_direnv.yml

- name: Install CLI-FM App
  import_tasks: tasks/install_clifm.yml

- name: Musl | Install Rust Tools | task
  import_tasks: tasks/install_rust_tools.yml

- name: Musl | Install Opencode | task
  import_tasks: tasks/install_opencode.yml

- name: Boost | Install CppTools | task
  when: ansible_distribution != 'MacOSX' and 'cpp' in install_languages
  import_tasks: install_cpp_tools.yml

- name: VSCode CppTools | Install VSCode CppTools | task
  when: ansible_distribution != 'MacOSX' and 'cpp' in install_languages
  import_tasks: install_vscode_cpptools.yml

- name: Musl | Install Python Development Tools | task
  when: "'python' in install_languages"
  import_tasks: tasks/install_python_dev.yml

- name: Musl | Install Rust Development Tools | task
  when: "'rust' in install_languages"
  import_tasks: tasks/install_rust_dev.yml

# - name: Nix | Install Nix Home-Manager | task
#   when: ansible_distribution != 'MacOSX'
#   import_tasks: tasks/install_home_manager.yml

# - name: Nix | Install Node Tools | task
#   when: ansible_distribution != 'MacOSX'
#   import_tasks: tasks/install_node_tools.yml

# - name: Nix | Install Python Tools | task
#   when: ansible_distribution != 'MacOSX'
#   import_tasks: tasks/install_python_tools.yml

# - name: GCCDiag | Install GCCDiag | task
#   import_tasks: install_gccdiag.yml
#   when: "'cpp' in install_languages"
