---
- name: Apps | Install Flatpak Apps | flatpak
  community.general.flatpak:
    name: "{{ item.value }}"
    state: present
  loop: "{{ flatpak_apps | dict2items }}"

# - name: Syncthing | Setup | task
#   import_tasks: tasks/setup_syncthing.yml
