---
system_home: "/home"
dotfiles_user_home: "{{ ansible_env.HOME }}"
default_home_local: "{{ dotfiles_user_home }}/.local"
tool_install_dir: "{{ default_home_local }}"
tool_install_bin: "{{ tool_install_dir }}/bin"
tool_system_path: "{{ tool_install_bin }}/"
bin_directory: "{{ tool_install_bin }}/"
interactive_shell_cmd: "nu"
interactive_shell: "{{ nu_exe }}"
gcc_exe: /usr/bin/gcc
gpp_exe: /usr/bin/g++
make_exe: "make"
dot_download_dir: "{{ tool_install_dir }}/downloads"
direnv_exe: "{{ tool_system_path }}direnv"
homebrew_install_path: "{{ system_home }}/linuxbrew/.linuxbrew"
homebrew_path: "{{ homebrew_install_path }}/bin"
homebrew_install_path_macos: "/opt/homebrew"
homebrew_path_macos: "{{ homebrew_install_path_macos }}/bin"
nonroot_path_directories:
  local:
    name: local
    prepend: false
    path: "/usr/local/bin"
  home_local:
    name: home_local
    prepend: false
    path: "{{ default_home_local }}/bin"
  cargo:
    name: cargo
    prepend: false
    path: "{{ cargo_path }}"
  scripts:
    name: scripts
    prepend: false
    path: "{{ tool_install_bin }}"
  fzf:
    name: fzf
    prepend: false
    path: "{{ fzf_path }}"
  opencode:
    name: opencode
    prepend: false
    path: "{{ opencode_path }}"
