# vim:fileencoding=utf-8:foldmethod=marker

# : Flavor {% raw %}{{{{% endraw %}

[flavor]
dark  = "flexoki-dark"
light = "flexoki-light"

# : {% raw %}}}}{% endraw %}

# : Tabs {% raw %}{{{{% endraw %}

[tabs]
# Separator
sep_inner = { open = "", close = "" }
sep_outer = { open = "", close = "" }

# : {% raw %}}}}{% endraw %}

# : Status bar {% raw %}{{{{% endraw %}

[status]
sep_left  = { open = "", close = "" }
sep_right = { open = "", close = "" }

# : {% raw %}}}}{% endraw %}
